﻿
<footer id="footer">
    <div class="container">
        <div class="col-md-3 company-details">
            <div class="icon-top red-text">
                <img src="images/map25-redish.png">
            </div>
            d'NOTES, CD-805, Sector-2, Dhurwa, Ranchi 834004, Jharkhand
        </div>
        <div class="col-md-3 company-details">
            <div class="icon-top green-text">
                <img src="images/envelope4-green.png">
            </div>
            dnotes_ranchi@yahoo.com
            <br />
            contact@dnotes.in
        </div>
        <div class="col-md-3 company-details">
            <div class="icon-top blue-text">
                <img src="images/telephone65-blue.png">
            </div>
            0651-2440532, 09835352435
        </div>
        <div class="col-md-3 copyright">
            <ul class="social">
                <li>
                    <a href="https://www.facebook.com/Dnotes.in" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/dnotes_ranchi" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/hp/?dnr=aewSde8e29NJz93RFJLYGj6SWcjJzv5WTnt" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
            <div class="zerif-copyright-box">
                <a class="zerif-copyright" href="#" target="_blank" rel="nofollow"></a>
                powered by
                <a class="zerif-copyright" href="http://www.goldpi.com/" target="_blank" rel="nofollow"> GoldPI.com</a>
                <br /><br />
                <div>
                    <a href="http://mail.themissionadmission.com/" target="_blank">Webmail</a> (For Official Use)
                </div>
            </div>
        </div>
    </div> <!-- / END CONTAINER -->
</footer> <!-- / END FOOOTER  -->
