﻿
<header id="home" class="header">
    <div id="main-nav" class="navbar navbar-inverse bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header responsive-logo">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")" class="navbar-brand"><img src="@Url.Content("~/Content/images/the-mission-admission.png")" alt="d&#039;NOTES"></a>
            </div>
            <nav id="site-navigation" role="navigation" class="navbar-collapse bs-navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right responsive-nav main-nav-list" id="menu-menu-1">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1681" id="menu-item-1681">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1695" id="menu-item-1695">
                        <a href="#focus" class="nav-active">Our Services</a>
                    </li>
                    @*<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1696" id="Li1">
                        <a href="#whyus" class="">Why Us</a>
                    </li>*@
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1696" id="menu-item-1696">
                        <a href="#aboutus" class="">About Us</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1696" id="menu-item-1696">
                        <a href="#aboutus" class="">University</a>
                    </li>

                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1696" id="menu-item-1696">
                        <a href="#Courses" class="">Courses</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1696" id="menu-item-1696">
                        <a href="#MajorActivities" class="">Major Activities</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1696" id="menu-item-1696">
                        <a href="#aboutus" class="">Franchise</a>
                    </li>

                    

                    @*<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1696" id="Li2">
                        <a href="#video_gallery" class="">Gallery</a>
                    </li>*@
                    @*<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1696" id="Li3">
                        <a href="#testimonials" class="">Testimonial</a>
                    </li>*@
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1696" id="Li4">
                        <a href="#contact" class="">Contact</a>
                    </li>
        </div>
    </div>

    <!-- / END TOP BAR -->

    <div class="container">
        <h1 class="intro-text">Career Counselling & Admission Consultant</h1>
        <div class="buttons">
            <a href="#focus" class="btn btn-primary custom-button red-btn">Choose your Admission Path</a>
            <a href="#aboutus" class="btn btn-primary custom-button green-btn">Admission Guidance and Counselling</a>
        </div>
    </div>
    <div class="clear"></div>

</header> 
<!-- / END HOME SECTION  -->

