﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
        <title>@ViewBag.Title</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='@Url.Content("~/Content/css/lightbox5152.css?ver=1.0")' type='text/css' media='all' />
        <link rel='stylesheet' id='zerif_font-css' href='http://fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C400italic%7CMontserrat%3A700%7CHomemade+Apple&amp;subset=latin%2Clatin-ext' type='text/css' media='all' />
        <link rel='stylesheet' id='zerif_bootstrap_style-css' href='@Url.Content("~/Content/css/bootstrap0235.css?ver=4.1.1")' type='text/css' media='all' />
        <link rel='stylesheet' id='zerif_owl_theme_style-css' href='@Url.Content("~/Content/css/owl.themed3b3.css?ver=v1")' type='text/css' media='all' />
        <link rel='stylesheet' id='zerif_owl_carousel_style-css' href='@Url.Content("~/Content/css/owl.carouseld3b3.css?ver=v1")' type='text/css' media='all' />
        <link rel='stylesheet' id='zerif_vegas_style-css' href='@Url.Content("~/Content/css/jquery.vegas.mind3b3.css?ver=v1")' type='text/css' media='all' />
        <link rel='stylesheet' id='zerif_fontawesome-css' href='@Url.Content("~/Content/css/font-awesome.mind3b3.css?ver=v1")' type='text/css' media='all' />
        <link rel='stylesheet' id='zerif_pi xeden_style-css' href='@Url.Content("~/Content/css/pixeden-iconsd3b3.css?ver=v1")' type='text/css' media='all' />
        <link rel='stylesheet' id='zerif_style-css' href='@Url.Content("~/Content/css/styled3b3.css?ver=v1")' type='text/css' media='all' />
        <link rel='stylesheet' id='zerif_responsive_style-css' href='@Url.Content("~/Content/css/responsived3b3.css?ver=v1")' type='text/css' media='all' />
        <script type='text/javascript' src='@Url.Content("~/Content/js/jquery90f9.js?ver=1.11.1")'></script>
        <script type='text/javascript' src='@Url.Content("~/Content/js/jquery-migrate.min1576.js?ver=1.2.1")'></script>
        <link rel='stylesheet' id='cwp-pac-frontpage-stylesheet-css' href='@Url.Content("~/Content/css/frontpage0235.css?ver=4.1.1")' type='text/css' media='all' />
        <link rel='stylesheet' id='cwp-pac-widget-stylesheet-css' href='@Url.Content("~/Content/css/cwppos-widget0235.css?ver=4.1.1")' type='text/css' media='all' />
        <link rel='stylesheet' id='jqueryui-css' href='@Url.Content("~/Content/css/jquery-ui0235.css?ver=4.1.1")' type='text/css' media='all' />
        <link rel='stylesheet' id='cwp-pac-fontawesome-stylesheet-css' href='@Url.Content("~/Content/css/font-awesome.min0235.css?ver=4.1.1")' type='text/css' media='all' />
        <script type='text/javascript' src='@Url.Content("~/Content/js/core.min4a80.js?ver=1.11.2")'></script>
        <script type='text/javascript' src='@Url.Content("~/Content/js/widget.min4a80.js?ver=1.11.2")'></script>
        <script type='text/javascript' src='@Url.Content("~/Content/js/mouse.min4a80.js?ver=1.11.2")'></script>
        <script type='text/javascript' src='@Url.Content("~/Content/js/slider.min4a80.js?ver=1.11.2")'></script>
        <script type='text/javascript' src='@Url.Content("~/Content/js/pie-chartd576.js?ver=20140101")'></script>
        <script type='text/javascript' src='@Url.Content("~/Content/js/maind576.js?ver=20140101")'></script>
        <script type='text/javascript' src='@Url.Content("~/Content/js/lightbox.min5152.js?ver=1.0")'></script>

        <style type="text/css">
            #review-statistics .review-wrap-up .cwpr-review-top {
                border-top: 5px solid #3BAEDA;
            }

            .user-comments-grades .comment-meta-grade-bar,
            #review-statistics .review-wu-bars ul li {
                background: #E1E2E0;
            }

            #review-statistics .rev-option.customBarIcon ul li {
                color: #E1E2E0;
            }

            #review-statistics .review-wrap-up .review-wu-right ul li, #review-statistics .review-wu-bars h3, .review-wu-bars span, #review-statistics .review-wrap-up .cwpr-review-top .cwp-item-category a {
                color: #3D3D3D;
            }

            #review-statistics .review-wrap-up .review-wu-right .pros h2 {
                color: #8DC153;
            }

            #review-statistics .review-wrap-up .review-wu-right .cons h2 {
                color: #C15353;
            }

            .affiliate-button a {
                border: 2px solid #3BAEDA;
            }

                .affiliate-button a:hover {
                    border: 2px solid #3BAEDA;
                }

            .affiliate-button a {
                background: #ffffff;
            }

                .affiliate-button a:hover {
                    background: #3BAEDA;
                }

                .affiliate-button a span {
                    color: #3BAEDA;
                }

                .affiliate-button a:hover span {
                    color: #FFFFFF;
                }
        </style>
        <script type="text/javascript">
            var c1 = "#FF7F66";
            var c2 = "#FFCE55";
            var c3 = "#50C1E9";
            var c4 = "#8DC153";
        </script>
        <style type="text/css">
            .recentcomments a {
                display: inline !important;
                padding: 0 !important;
                margin: 0 !important;
            }
        </style>
        <style type="text/css" id="custom-background-css">
            body.custom-background {
                background-image: url('/Content/images/bg3.jpg');
                background-repeat: repeat;
                background-position: top left;
                background-attachment: fixed;
            }

            .about-us .big-intro {
                font-size: 40px;
                text-align: justify;
            }

            .about-us .column {
                margin-bottom: 0;
            }

            .message {
                text-align: justify;
            }

            .fa-3x {
                color: #4abcc5;
            }
        </style>


    </head>
<body class="home blog custom-background">
    @Html.Partial("_header")
    <div id="content" class="site-content">
        @RenderBody()
    </div>
    @Html.Partial("_footer")
    <script src="@Url.Content("~/Content/js/jquery-1.10.2.min.js")" type="text/javascript"></script>
    <script type='text/javascript' src='@Url.Content("~/Content/js/bootstrap.min.js")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/js/jquery.scrollTo.min11a8.js?ver=20120206")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/js/jquery.nav11a8.js?ver=20120206")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/js/jquery.knob11a8.js?ver=20120206")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/js/owl.carousel.min11a8.js?ver=20120206")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/js/smoothscroll11a8.js?ver=20120206")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/js/jquery.vegas.min11a8.js?ver=20120206")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/js/scrollReveal11a8.js?ver=20120206")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/js/zerif11a8.js?ver=20120206")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/js/navigation11a8.js?ver=20120206")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/js/skip-link-focus-fix08e0.js?ver=20130115")'></script>
    <script type='text/javascript' src='@Url.Content("~/Content/js/skip-link-focus-fix08e0.js?ver=20130115")'></script>

    @RenderSection("scripts", required: false)

    <script>
            (function ($) { $.fn.AjaxPOST = function (url, data, $fun) { $base = this; $.ajax({ url: url, contentType: "application/json; charset=utf-8", dataType: "json", type: 'POST', data: data, success: function (data, XMLHttpRequest) { var ret = (typeof data.d) == 'string' ? eval('(' + data.d + ')') : data.d; $fun.call($base, ret); }, error: function (XMLHttpRequest, errorThrown) { var ret = eval("(" + XMLHttpRequest.responseText + ")"); $fun.call($base, ret); } }); }; } (jQuery));

            function sendMessage() {

                var mobile_expression = /^[0123456789][0-9]{9}$/;
                var email_expression = /^\w+([-.']\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;

                if ($('#txt_name').val() == '') {
                    alert('Please enter your name.');
                }
                else if (!(mobile_expression.test($('#txt_mobile').val()))) {
                    alert('Please enter your mobile no.');
                }
                else if (!(email_expression.test($('#txt_email').val()))) {
                    alert('Please enter your email id.');
                }
                else if ($('#dl_course').val() == 'Select Course...') {
                    alert('Please select course.');
                }
                else {
                    $('#btn_send').hide();
                    $('#img_send').show();

                    var name = $('#txt_name').val();
                    var email = $('#txt_email').val();
                    var mobile = $('#txt_mobile').val();
                    var course = $('#dl_course').val();

                    var url = "";
                    var data = "{'name':'" + name + "','email':'" + email + "','mobile':'" + mobile + "','course':'" + course + "'}";

                    url = "index.aspx/sendMessage";

//                    $(this).AjaxPOST(url, data, function (d) {
//                        if (typeof (d[0]) !== 'undefined') {
//                            switch (d[0]) {
//                                case 100:
//                                    {
//                                        $('#btn_send').show();
//                                        $('#img_send').hide();

//                                        alert("Thank you for contacting us. We'll reply you shortly.");

//                                        break;
//                                    }
//                                case 200:
//                                    {
//                                        $('#btn_send').show();
//                                        $('#img_send').hide();

//                                        alert('Oops! Something went wrong. Please try later.');
//                                        break;
//                                    }
//                                default:
//                                    {
//                                        $('#btn_send').show();
//                                        $('#img_send').hide();

//                                        alert('Oops! Something went wrong. Please try later.');
//                                    }
//                            }

//                        }
                    //                    });

                    $(this).AjaxPOST(url, data, function (d) {
                        if (typeof (d) !== 'undefined') {
                            if (d == "100") {
                                alert("Thank you for contacting us. We'll reply you shortly.");

                                $('#btn_send').show();
                                $('#img_send').hide();
                            }
                            else {
                                alert('Oops! Something went wrong. Please try later.');

                                $('#btn_send').show();
                                $('#img_send').hide();
                            }

                        }
                    });
                }

                return false;
            }
    </script>
</body>
</html>
