﻿<section class="about-us" id="aboutus">
    <div class="container">
        <!-- SECTION HEADER -->
        <div class="section-header">
            <!-- SECTION TITLE -->
            <h2 class="white-text">About Us</h2>
            <!-- SHORT DESCRIPTION ABOUT THE SECTION -->

        </div><!-- / END SECTION HEADER -->
        <!-- 3 COLUMNS OF ABOUT US-->
        <div class="row">
            <!-- COLUMN 1 - BIG MESSAGE ABOUT THE COMPANY-->
            <div class="col-lg-4 col-md-4 column">
                <div class="big-intro" data-scrollreveal="enter left after 0s over 1s">
                    The main aim of our existence is to select best possible career for the student and make whole admission process easy and simple for them.
                </div>
            </div>
            <div class="col-lg-4 col-md-4 column" data-scrollreveal="enter bottom after 0s over 1s">
                <p style="text-align:justify;">
                    d'NOTES has a fleet of experts, which help you to select  college/ university and course in accordance with your profile, expedient, location and budget. We solve your predicaments related to selection of the course for higher studies. Choosing the right kind of course from the multitude options is indeed a trying task. We provide our enrolled students with the tools, which help them to identify and narrow down their choices of interest. Our expert counselors guide the students to wisely select the course/programme, college or university and then it is our responsibility to take the student through the process of admission.
                </p>
            </div>
            <!-- COLUMN 1 - SKILSS-->
            <div class="col-lg-4 col-md-4 column">
                <ul class="skills" data-scrollreveal="enter right after 0s over 1s">
                    <!-- SKILL ONE -->
                    <li class="skill">
                        <div class="skill-count">
                            <input type="text" value="90" data-thickness=".2" class="skill1">
                        </div>
                        <h6>Counselling</h6>
                    </li>
                    <!-- SKILL TWO -->
                    <li class="skill">
                        <div class="skill-count"><input type="text" value="15" data-thickness=".2" class="skill2"></div><h6>Hassles</h6>
                    </li>
                    <!-- SKILL THREE -->
                    <li class="skill">
                        <div class="skill-count">
                            <input type="text" value="100" data-thickness=".2" class="skill3">
                        </div>
                        <h6>Admission</h6>
                    </li>
                    <!-- SKILL FOUR -->
                    <li class="skill">
                        <div class="skill-count">
                            <input type="text" value="95" data-thickness=".2" class="skill4">
                        </div><h6>Support</h6>
                    </li>
                </ul>
            </div> <!-- / END SKILLS COLUMN-->
        </div> <!-- / END 3 COLUMNS OF ABOUT US-->

        <h2 class="white-text">Who We Are?</h2>

        <div class="row">
            <p style="text-align:center;">
                “We cannot always build the future for our youth, But we can build our youth for the future”
                <br /><br />
                -Franklin D. Roosevelt
            </p>
            <p>
                These words by Franklin D. Roosevelt perfectly describe our aim at d'NOTES. We have realized that the future is abstract and not known, but the youth in our hands are real and can be molded. The seeds of an idea sown by our mentor Mr. Satya Prakash Deepak (a distinguished philanthropist, educationist and social worker) in 2000 by have quickly come to fruition and d'NOTES have grown into a strong sapling today. d'NOTES has been instrumental in creating successful career path for students across India with a vision to create a better future & have made a mark as one of the leading admission consultancy providing complete admission solutions. d'NOTES has been successfully guiding over 1000 plus students each year to bright career options.
            </p>
        </div>
        <!-- CLIENTS -->
    </div> <!-- / END CONTAINER -->
</section>