﻿<section class="contact-us" id="contact">
    <div class="container">
        <!-- SECTION HEADER -->
        <div class="section-header">
            <h2 class="white-text">Get in touch</h2>
        </div>
        <!-- / END SECTION HEADER -->
        <!-- CONTACT FORM-->
        <div class="row">
            <form name="frm1" method="POST" action="http://www.dnotes.in/Index.aspx" id="frm1" role="form" class="contact-form">
                <div>
                    <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTc5MTk3NDcwNGRktS4ZmmP77sa4CFXQ16Yny0kZF7E=" />
                </div>

                <div>

                    <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="90059987" />
                    <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWEQKyq4C7DAKbzqrYDQKevKvSBQLV/rWNBwL0oPOYCAK/7sAjAtiQ4f8LAuOshOIDAqXthokOAtjh8JMMAqn+xPIKAtqKmdgEAqzi8JMMAsjo/JEHAs2xjKsIAuXBwa8BAv3pkJQHrKpo/G3hhAeukrB5ZVzgFUD4co0=" />
                </div>
                <input type="hidden" name="scrollPosition">
                <input type="hidden" name="submitted" id="submitted" value="true" />
                <div class="col-lg-6 col-sm-6" data-scrollreveal="enter left after 0s over 1s">
                    <input name="txt_name" type="text" id="txt_name" placeholder="Your Name" class="form-control input-box" />
                </div>
                <div class="col-lg-6 col-sm-6" data-scrollreveal="enter left after 0s over 1s">
                    <input name="txt_email" type="text" id="txt_email" placeholder="Your Email" class="form-control input-box" />
                </div>
                <div class="col-lg-6 col-sm-6" data-scrollreveal="enter left after 0s over 1s">
                    <input name="txt_mobile" type="text" id="txt_mobile" placeholder="Your Mobile" class="form-control input-box" />
                </div>
                <div class="col-lg-6 col-sm-6" data-scrollreveal="enter left after 0s over 1s">
                    <select name="dl_course" id="dl_course" class="form-control input-box">
                        <option value="Select Course...">Select Course...</option>
                        <option value="Engineering">Engineering</option>
                        <option value="MBBS/BDS">MBBS/BDS</option>
                        <option value="MD/MS/MDS">MD/MS/MDS</option>
                        <option value="MARINE">MARINE</option>
                        <option value="BCA/BBA">BCA/BBA</option>
                        <option value="LAW">LAW</option>
                        <option value="HM">HM</option>
                        <option value="MCA/MBA">MCA/MBA</option>
                        <option value="NURSING/PHARMACY">NURSING/PHARMACY</option>
                        <option value="B.Ed.">B.Ed.</option>
                        <option value="Other">Other</option>

                    </select>
                </div>


                <input type="submit" name="btn_send" value="Send" onclick="return sendMessage();" id="btn_send" class="btn btn-primary custom-button red-btn" data-scrollreveal="enter left after 0s over 1s" />

                <img src="images/ajax-loader.gif" id="img_send" style="display:none;" />

                <div class="clear"></div>

                <div class="col-md-12" data-scrollreveal="enter right after 0s over 1s">

                </div>
            </form>
        </div>
        <!-- / END CONTACT FORM-->
    </div> <!-- / END CONTAINER -->
</section>