﻿@model IEnumerable<TheMissionAdmission.Models.Course>
<section class="testimonial" id="Courses">
    <div class="container">
        <div class="section-header">
            <h2 class="white-text">Courses</h2>
        </div>
        <div class="row" data-scrollreveal="enter right after 0s over 1s">
            <div class="col-md-12">
                <div id="client-feedbacks" class="owl-carousel owl-theme">
                    <div class="panel">
                        <div class="">



                            <table class="table table-responsive table-striped table-hover">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CourseName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Duration)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Eligibility)
                                    </th>

                                </tr>

                                @foreach (var item in Model)
                        {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CourseName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Duration)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Eligibility)
                                        </td>

                                    </tr>
                        }

                            </table>

                        </div>
                    </div>
                    @*<aside id="zerif_testim-widget-3" class="widget zerif_testim">
                <div class="feedback-box">
                    <!-- MESSAGE OF THE CLIENT -->
                    <div class="message">
                        I was confused and very misguided after Class XII. Not knowing where to take admission. With so many colleges and institutions in the country, I was not sure where to apply as all the colleges looked good from the outside. But thanks to the team at d'NOTES, who guided me to take the right choice.
                    </div>
                    <!-- CLIENT INFORMATION -->
                    <div class="client">
                        <div class="quote red-text">
                            <i class="icon-fontawesome-webfont-294"></i>
                        </div>
                        <div class="client-info">
                            <a class="client-name" href="#">Rakesh Gupta</a>
                            <div class="client-company">
                                Ranchi
                            </div>
                        </div>
                        <div class="client-image hidden-xs">
                            <img src="@Url.Content("~/Content/images/anonymous-icon.png")" alt="">
                        </div>
                    </div>
                    <!-- / END CLIENT INFORMATION-->
                </div> <!-- / END SINGLE FEEDBACK BOX-->
            </aside>
            <aside id="zerif_testim-widget-4" class="widget zerif_testim">
                <div class="feedback-box">
                    <!-- MESSAGE OF THE CLIENT -->
                    <div class="message">
                        I always wanted to be an engineer. But with so manycolleges in the country, did not have a clue as to where to take admission. Everyone was suggesting a different college. Finally, d'NOTES came to my rescue by showing me how different each college is and which is the best college for me.
                    </div>
                    <!-- CLIENT INFORMATION -->
                    <div class="client">
                        <div class="quote red-text">
                            <i class="icon-fontawesome-webfont-294"></i>
                        </div>
                        <div class="client-info">
                            <a class="client-name" href="#">Arpit Kumar</a>
                            <div class="client-company">
                                Patna
                            </div>
                        </div>
                        <div class="client-image hidden-xs"><img src="@Url.Content("~/Content/images/anonymous-icon.png")" alt=""></div>
                    </div>
                    <!-- / END CLIENT INFORMATION-->
                </div> <!-- / END SINGLE FEEDBACK BOX-->
            </aside>
            <aside id="zerif_testim-widget-5" class="widget zerif_testim">
                <div class="feedback-box">
                    <!-- MESSAGE OF THE CLIENT -->
                    <div class="message">
                        Being a doctor was my childhood dream.But the admission fee for the medical colleges that I went too were beyond my reach. But when I came to d'NOTES, they gave me options for colleges where I could enrol myself without any worries. And now, thanks to d'NOTES, I am excelling as a medical student!
                    </div>
                    <!-- CLIENT INFORMATION -->
                    <div class="client">
                        <div class="quote red-text">
                            <i class="icon-fontawesome-webfont-294"></i>
                        </div>
                        <div class="client-info">
                            <a class="client-name" href="#">Richa Sharma</a>
                            <div class="client-company">
                                Bokaro
                            </div>
                        </div>
                        <div class="client-image hidden-xs">
                            <img src="@Url.Content("~/Content/images/anonymous-icon.png")" alt="">
                        </div>
                    </div>
                    <!-- / END CLIENT INFORMATION-->
                </div> <!-- / END SINGLE FEEDBACK BOX-->
            </aside>*@
                </div>
            </div>
        </div>
    </div>
</section>
