﻿<section class="testimonial" id="MajorActivities">
    <div class="container">
        <div class="section-header">
            <h2>Major activities of The Mission Admission</h2>
        </div>
        <div class="row" data-scrollreveal="enter right ">
            <div class="col-md-12">
                    <ul class="li-text-justify">
                            <li>
                                The Mission Admission organizes admission on scholarship scheme with the
                                support of colleges and universities
                            </li>
                            <li>
                                The Mission Admission organizes counseling programs for selected candidates to choose their
                                choice course, college and location as The Mission Admission has tie-up with leading colleges in
                                India.
                            </li>
                            <li>
                                The Mission Admission provides detail information about much larger choice of
                                universities/colleges and their courses available in India.
                            </li>
                            <li>
                                The Mission Admission tries to give full support to meritorious students financially through this
                                scheme.
                            </li>
                            <li>
                                The Mission Admission assists the students to get admission in leading colleges of different
                                courses like Engineering, Polytechnic, Bio-tech, Management, Nursing ,Hotel
                                Management, Pharmacy, BDS through their ability and eligibility without
                                donation/capitation.
                            </li>
                            <li>
                                The Mission Admission promotes technical &amp; professional education in the country through career
                                seminars and other awareness activities.
                            </li>
                            <li>
                                The Mission Admission organizes educational awareness programs in rural areas and guiding
                                students to pursue higher education in their budget and also guides to get
                                educational scholarship benefits provided by Govt. of India.
                            </li>
                        </ul>
                   <div class="clearfix"></div>
                        <h2>Advantage to the students of The Mission Admission</h2>
                <div class="clearfix"></div>
                <ul class="li-text-justify">
                    <li>
                        The Mission Admission provides scholarship (upto 100%) to poor and meritorious students of North
                        East so that they do not have any financial crisis and smoothly continue their
                        higher education.
                    </li>
                    <li>
                        Selected candidates of The Mission Admission can get admission in various colleges of India under
                        scholarship scheme since The Mission Admission has already tie-up with many technical and
                        professional colleges. So there will be great opportunity for the students to
                        get admission in leading colleges on discount fee.
                    </li>
                    <li>
                        Time to Time career guidance by the experts in the field of education and
                        colleges authorized representatives.
                    </li>
                    <li>
                        The Mission Admission provides detail information of leading colleges and their programs,
                        available seats, fee structure, facilities and placements under one roof
                    </li>

                </ul>


                        <h2>How to get these benefits</h2>
                        <div class="clearfix"></div>
                        <ul class="li-text-justify">
                            <li>
                                Students must have eligibility of the course as <a href="Eligibility.aspx">required</a> and fulfill the criteria of the college.
                            </li>
                            <li>
                                Students must fill up the application form of The Mission Admission through online 'or' they can physically visit any of our authorized centre.
                            </li>
                            <li>
                                Students should attend the counselling process at The Mission Admission office near by you. (<a href="CounsellingProcess.aspx">Click here to know</a>)
                            </li>
                            <li>
                                Students should belong to NE states and must have residential certificate.
                            </li>
                            <li>
                                Students must confirm one seat and take allotment letter at the time of counselling.
                            </li>
                            <li>
                                Students must take admission in The Mission Admission participating institutions only to avail these benefits.
                            </li>
                            <li><a href="AdmissionProcess.aspx">Click to know about admission process.</a></li>
                        </ul>
                  
                   
                </div>

                </div>
            </div>
     
    </section>

