﻿<section class="our-team" id="whyus">
    <div class="container">
        <div class="section-header">
            <h2 class="dark-text">Why Us?</h2>
            <h6>d'NOTES &amp; its Benefits</h6>
        </div>
        <div class="row" data-scrollreveal="enter left after 0s over 0.1s">
            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="@Url.Content("~/Content/images/1a.png")" alt="">
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text red-border-bottom">Transparency</h5>
                        <div class="position">Easy Transactions, No Suprises!</div>
                    </div>
                    <div class="social-icons">
                        <ul></ul>
                    </div>
                    <div class="details">
                        We believe in transparency and involve student in all step of admission process and assure all transaction favoring institution & at institution.
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="@Url.Content("~/Content/images/2a.png")" alt="">
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text red-border-bottom">Ease of Application </h5>
                        <div class="position">Online &amp; Offline Modes</div>
                    </div>
                    <div class="social-icons">
                        <ul></ul>
                    </div>
                    <div class="details">
                        We offer a time tested effective process that enables you to avail our services from anywhere on the globe with our online or offline admission process.
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="@Url.Content("~/Content/images/3a.png")" alt="">
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text red-border-bottom">National Coverage</h5>
                        <div class="position">Our presence is everywhere</div>
                    </div>
                    <div class="social-icons">
                        <ul></ul>
                    </div>
                    <div class="details">
                        We do admission at colleges from deep south to extreme north, covered all of central India in addition to Bangalore, Pune, Chennai & Delhi(NCR).We have pan India network.
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="@Url.Content("~/Content/images/4a.png")" alt="">
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text red-border-bottom">All Courses</h5>
                        <div class="position">Wide Range of Courses</div>
                    </div>
                    <div class="social-icons">
                        <ul></ul>
                    </div>
                    <div class="details">
                        We deals in wide range of courses from +2 level, Engineering, MBBS, Dental, Nursing, Pharmacy, Law, Business administration, computer, Marine, Bed, Job oriented courses to Phd.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>