﻿<section class="focus" id="focus">
    <div class="container">
        <!-- SECTION HEADER -->
        <div class="section-header">
            <!-- SECTION TITLE -->
            <h2 class="dark-text">Our Services</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                <div class="service-icon">
                    <a href="#">
                        <i class="fa fa-users fa-3x" style="margin-top:35px; font-size:60px;"></i>
                        <!-- FOCUS ICON-->
                    </a>
                </div>
                <h5 class="red-border-bottom">Counselling</h5>
                <!-- FOCUS HEADING -->
                <p>
                    A multi session discussion with our expert professionals provide the enrolled students the tools that help them to select institution & course in accordance with their profile, expedient, location and budget.
                </p>
            </div>
            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                <div class="service-icon">
                    <a href="#">
                        <i class="fa fa-check-circle fa-3x" style="margin-top:35px; font-size:60px;"></i> <!-- FOCUS ICON-->
                    </a>
                </div>
                <h5 class="red-border-bottom">Process</h5>
                <!-- FOCUS HEADING -->
                <p>
                    We update students with eligibility criteria, admission formalities, Fees details, payment term and documents required. Admission process starts with registration of students with us then seat booking by bank draft favoring institution and at last allotment of admission letter by college.
                </p>
            </div>
            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                <div class="service-icon">
                    <a href="#">
                        <i class="fa fa-graduation-cap fa-3x" style="margin-top:35px; font-size:60px;"></i> <!-- FOCUS ICON-->
                    </a>
                </div>
                <h5 class="red-border-bottom">Admission</h5>
                <!-- FOCUS HEADING -->
                <p>
                    We assure hassles free guaranteed admission. We encourage institution visit at the time of admission and ascertain the information passed by us regarding infrastructure, laboratory, library, hostel, academics, and placement before final admission and hostel allotment.
                </p>
            </div>
            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0.15s over 1s">
                <div class="service-icon">
                    <a href="#">
                        <i class="fa fa-ticket fa-3x" style="margin-top:35px; font-size:60px;"></i> <!-- FOCUS ICON-->
                    </a>
                </div>
                <h5 class="red-border-bottom">Support</h5>
                <!-- FOCUS HEADING -->
                <p>
                    Our support is not only to help you to undergo the whole transaction with ease but also provides time to time post-admission support. On completion of course we assist in placement as well.
                </p>
            </div>
        </div>
    </div> <!-- / END CONTAINER -->
</section>